/* Styles for navbar buttons */
.navbar-button {
    background: transparent; /* Set a transparent background to blend with the white navbar */
    border: none;
    color: #333; /* Text color for buttons */
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer;
    transition: background 0.3s, color 0.3s; /* Transition for smooth hover effect */
  
    vertical-align: middle; /* Align text vertically */
    border-radius: 5px;
    font-weight: bold;
  }
  /* Align the text and icons vertically in the buttons */
.navbar-button svg {
    vertical-align: middle;
  }
  /* Hover effect styles */
  .navbar-button:hover {
    background: #333; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
  }
  /* Styles for navbar container */
.navbar-container {
    border-bottom: 1px solid #eee; /* Very light grey border at the bottom */
    margin-bottom: 10px;
  }
  