.image-container {
  position: relative !important;
  overflow: hidden !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative !important;
  width: 100% !important;
  max-width: 1024px !important;
  height: 100% !important;
  max-height: 1024px !important;
}


.image-container:hover .image-overlay {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: #fff;
}


.like-icon {
  font-size: 24px; /* Adjust the size as needed */
  transition: color 0.3s; /* Add a smooth color transition on hover */
}

/* Change the color when the user hovers over the heart icon */
.like-icon:hover {
  color: #ff0000; /* Change to a red color on hover (you can use your desired color) */
}
.like-icon.liked {
  color: red; /* Change the heart icon color to red */
  transform: scale(1.5); /* Add a transformation effect */
  pointer-events: none; /* Make it unclickable */
}
.like-icon.login-required {
  color: #ccc; /* Change the heart icon color to a light gray */
  cursor: pointer; /* Show a pointer cursor to indicate it's clickable */
}
.vertical-modal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.modal-image-container {
  margin-bottom: 20px;
}



.text-container {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

.artistic-text {
  font-family: 'cursive', cursive;
  color: #880000;
  text-shadow: 2px 2px 4px #ffcc00;
}

.horizontal-line {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}


.save-time-container {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease; /* Adding transition effect */
}

.save-time-container.clicked {
  background-color: #a0a0a0; /* Change the color for the clicked state */
}

.inner-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4caf50; /* Green color */
  opacity: 0.5;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease; /* Adding transform animation */
}

.save-time-container.clicked .inner-effect {
  transform: scaleX(1);
}
::-webkit-scrollbar {
  width: 0.75em;
}

::-webkit-scrollbar-track {
  background: #f5f5f5; /* Light gray for the track */
  border-radius: 9px;
  margin: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #a8a7a7; /* Darker blue for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #535556; /* Lighter blue on hover for better visibility */
}


.label {
  height: 35px;
  width: 80px;
  background-color: #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.label:hover {
  -webkit-transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
  transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
}

#checkbox:checked ~ .label:hover {
  -webkit-transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
  transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
}

#checkbox {
  display: none;
}

#checkbox:checked ~ .label::before {
  left: 50px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 70%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.label::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #000000;
  background-image: linear-gradient(
    130deg,
    #757272 10%,
    #ffffff 11%,
    #726f6f 62%
  );
  left: 5px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}


.form {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #000000;
  --bg-color: rgb(255, 255, 255);
  --main-color: black;
  padding: 20px;
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.title {
  color: var(--font-color);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 25px;
}

.span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 15px;
}

.input {
  width: 450px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input:focus {
  border: 2px solid var(--input-focus);
}

 .button-surprise:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}
/* CSS */
.login-with {
  display: flex;
  gap: 20px;
}



/* CSS */
.button-log {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  color: var(--font-color);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: rgb(147, 147, 147); /* Add your desired light grey color here */
}


.button-surprise {
  margin-bottom: auto;
  width: 140px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-family: "Arial", sans-serif;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}

.tooltip .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #4c87af;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4c00ff;
  background-image: linear-gradient(160deg, #4900f5 0%, #80D0C7 100%);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  cursor: pointer;
}
